@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Cardo:400i|Kite+One|Lobster|Montserrat|Playfair+Display|Rubik+Mono+One|Rye');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

//FONTS
/* $font-stack: 'Lobster', cursive; */
/* $font-stack: 'Rubik Mono One', sans-serif; */
/* $font-stack: 'Allerta Stencil', sans-serif; */
/* $font-stack: 'Rye', cursive; */
/* $font-stack: 'Kite One', sans-serif; */
$title-font-stack: 'Montserrat', sans-serif;
/* $font-stack: 'Playfair Display', serif; */
/* $font-stack: 'Cardo', serif;  */
$p-font-stack: 'Raleway', sans-serif;


//FONT COLORS
$font-color: #80b5b4;

//FONT SIZES/WEIGHTS
$h1-size: 4rem;
$h1-weight: 800;
$h2-size: 2.8rem;
$h2-weight: 600;
$p-size: 1.4rem;
$p-weight: 100;
