.header {
  background-image: $splash-url;
  background-size: cover;
  background-position: right;
  height: 94vh;
  display: flex;
  color: $headerTextColor;

  div {
    flex: 2;
  }

  #right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div:first-child {
      flex: 1;
      padding-top: 30%;
    }

    #typed {
      flex: 6;
      font-size: 2.3rem;
      max-width: 100%;
      font-family: $title-font-stack;
    }

    .typed-cursor {
      opacity: 0;
    }
  }
}
