.header {
  background-image: $splash-url;
  background-size: cover;
  background-position: right;
  height: 100vh;
  display: flex;
  color: $headerTextColor;

  div {
    flex: 2;
    /* border: $test-border; */
  }

  #right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div:first-child {
      flex: 1;
      padding-top: 30%;
      color: $headerColor;
    }

    #typed {
      flex: 8;
      font-size: 3rem;
      /* height: 300px; */
      /* border: $test-border; */
      /* padding: 0; */
    }

    .typed-cursor {
      opacity: 0;
    }
  }
}
