.main {
  display: flex;
  flex-direction: column;
  max-width: $main-width;
  margin: $main-top-margin auto $main-top-margin auto;




  .section{
    /* border: $test-border; */
    padding: $section-padding;
    color: $font-color;
    display: flex;
    flex-wrap: wrap;

    ul {
      padding: 0.5rem 0;
      li {
        padding: 0.25rem 0;
      }
    }

    .left {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      vertical-align: middle;
      margin-right: $side-margin;
      margin-left: $side-margin;
      min-width: 250px;

    }

    .right {
      flex: 1;
      display: flex;

      height: $imgHeight;
      justify-content: flex-start;
      align-items: flex-start;
      background-size: cover;
      min-width: 250px;
      margin-right: $side-margin;
      margin-left: $side-margin;
    }

    #devContainer {
      background-image: $dev-url;
      background-position: center;
      margin-right: $side-margin + 0.5;
      margin-left: $side-margin + 0.5;
    }

    #myVideo {
      height: $imgHeight;
      min-width: 300px;
      margin-right: $side-margin + 0.2;
      /* margin-left: $side-margin + 0.5; */
    }
    #photoContainer {
     background-image: $photo-url;
     background-position: center;
     margin-right: $side-margin + 0.5;
     margin-left: $side-margin + 0.5;
    }

    %vertical {
      display: flex;
      flex-direction: column;
    }
    .vertical-left {
      /* border: $test-border; */
      @extend %vertical;
      text-align: right;
    }
    .vertical-right {
      /* border: $test-border; */
      @extend %vertical;
      text-align: left;
    }

    .horizontal {
      /* border: $test-border; */
      display: flex;
      flex-direction: row;

      div {
        /* border: $test-border; */
        flex: 1;
        text-align: right;
      }

      div:nth-child(1) {
        text-align: center;
      }
    }
  }

  #dev {
    background-color: $headerColor;
    color: $bgColor;
  }

  .card {
    @include card(2);
    display: flex;
    flex-wrap: wrap;
    min-width: 384px;

    p {
      color: $bgColor;
      padding-top: 1rem;
      line-height: 2.2rem;
    }

    ul {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }

    li {
      color: $bgColor;
      line-height: 1.9rem;
    }

    #about {
      color: $bgColor;
      background-color: $headerTextColor;
      text-align: center;
      flex: 1;
      border-right: 0.5rem solid $headerColor;
      border-bottom: 0.2rem solid $headerColor;
      border-left: 1rem solid $headerColor;
      border-top: 1rem solid $headerColor;
      padding: $card-padding;
      min-width: 384px;
    }

    #tech {
      border-top: 1rem solid $headerColor;
      color: $bgColor;
      background-color: $headerTextColor;
      flex: 1;
      text-align: center;
      border-left: 0.5rem solid $headerColor;
      border-bottom: 0.2rem solid $headerColor;
      border-right: 1rem solid $headerColor;
      padding: $card-padding;

      div {
        display: flex;

        ul {
          flex: 1
        }
      }
    }
  }

  .projects {
    padding: 2rem 0rem;
    /* background: red; */
    display: flex;
    margin: auto;
    max-width: 80%;
    /* height: 150px; */
    /* margin: 0 0 0 50%; */
    /* margin: 0 10%; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .box {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-width: 20rem;
      min-height: 20rem;
      margin: 0.5rem 1rem;
      border: 0.2rem solid $headerColor;

      .top {
        flex: 3;
        border-bottom: 0.1rem solid $headerColor;
      }

      .bottom {
        flex: 2;
        text-align: center;
      }

      #devImg1 {
        background-image: url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
        background-size: cover;
      }
      #devImg2 {
        background-image: url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
        background-size: cover;
      }
      #devImg3 {
        background-image: url('https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
        background-size: cover;
      }
    }
  }

  #photo {
    background-color: $headerTextColor;
  }

  #video {
    li{
      color: $headerTextColor;
    }

  }

  #devBtn {
    @include button-bg($headerTextColor);
  }

  .hidden {
    display: none;
  }

  .reveal {
    display: flex;

    -webkit-animation: slide-from-left .5s;
    -moz-animation: slide-from-left .5s;
  }

  @-webkit-keyframes slide-from-left {
      0% { opacity: 0; -webkit-transform: translateX(-100%); }
      50% { opacity: 0.4;}
    100% { opacity: 1; -webkit-transform: translateX(0); }
  }
  @-moz-keyframes slide-from-left {
        0% { opacity: 0; -moz-transform: translateX(-100%); }
      100% { opacity: 1; -moz-transform: translateX(0); }
  }
}
