//MAIN DIV
$main-width: 80%;
$main-top-margin: 6rem;

//MARGINS AND TEST BORDER
$test-border: 1px solid blue;
$title-margin: 0.3rem;
$section-padding: 1rem 0rem;

//COLORS
$bgColor: #f9f1db;
$headerColor: #80b5b4;
$headerTextColor: #5f6666;

//PHOTO/VIDEO URLS
$dev-url: url('https://images.pexels.com/photos/574080/pexels-photo-574080.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
$video-url: url('https://images.pexels.com/photos/274977/pexels-photo-274977.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
$photo-url: url('https://images.pexels.com/photos/597051/man-camera-rolleicord-watch-597051.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');

//IMAGE HEIGHTS/WIDTHS
$imgHeight: 250px;
